## Challenge Part 2 Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [8]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [9]:
city_data_df = pd.read_csv("./data/WeatherPy_Database.csv")
city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,hithadhoo,100,MV,overcast clouds,75,-0.60,73.08,84.42,0.00,0.00,11.05
1,1,carnarvon,0,AU,clear sky,53,-24.87,113.63,71.60,0.00,0.00,12.75
2,2,san quintin,24,MX,few clouds,91,30.48,-115.95,61.66,0.00,0.00,5.61
3,3,quelimane,19,MZ,few clouds,67,-17.88,36.89,74.61,0.00,0.00,8.75
4,4,mataura,0,NZ,clear sky,81,-46.19,168.86,44.83,0.00,0.00,8.55
...,...,...,...,...,...,...,...,...,...,...,...,...
563,563,eyl,0,SO,clear sky,44,7.98,49.82,91.81,0.00,0.00,28.25
564,564,kawalu,83,ID,light rain,77,-7.38,108.21,79.47,0.14,0.14,5.61
565,565,dawlatabad,0,AF,clear sky,8,36.41,64.91,100.98,0.00,0.00,7.45
566,566,kautokeino,94,NO,overcast clouds,53,69.01,23.04,67.06,0.00,0.00,17.58
567,567,puerto escondido,58,MX,broken clouds,72,15.85,-97.07,79.81,0.00,0.00,5.17

In [10]:
city_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)          float64
Wind Speed             float64
dtype: object

In [11]:
# configure gmaps
gmaps.configure(api_key=g_key)

In [12]:
# Enter max temprature critieria
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 60
What is the maximum temperature you would like for your vacation? 200

In [13]:
# Ask the customer if you want it to be raining
rain_amount = input("Do you want it to be raining? (yes/no)")

Do you want it to be raining? (yes/no)no

In [14]:
snow_amount = input("Do you wnat it to be snowing (yes/no)")

Do you wnat it to be snowing (yes/no)no

In [15]:
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] == 0)]
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] >= 0.0)]
elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] > 0.0) &
                                          (city_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] > 0.0) &
                                          (city_data_df["Snow (inches)"] > 0)]

In [16]:
filtered_cities_df.head()

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,hithadhoo,100,MV,overcast clouds,75,-0.60,73.08,84.42,0.0,0.0,11.05
1,1,carnarvon,0,AU,clear sky,53,-24.87,113.63,71.60,0.0,0.0,12.75
2,2,san quintin,24,MX,few clouds,91,30.48,-115.95,61.66,0.0,0.0,5.61
3,3,quelimane,19,MZ,few clouds,67,-17.88,36.89,74.61,0.0,0.0,8.75
8,8,aksu,47,CN,scattered clouds,15,41.12,80.26,87.39,0.0,0.0,1.86

In [17]:
filtered_cities_df.count()

City_ID                369
City                   369
Cloudiness             369
Country                367
Current Description    369
Humidity               369
Lat                    369
Lng                    369
Max Temp               369
Rain (inches)          369
Snow (inches)          369
Wind Speed             369
dtype: int64

In [18]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,hithadhoo,100,MV,overcast clouds,75,-0.60,73.08,84.42,0.0,0.0,11.05
1,1,carnarvon,0,AU,clear sky,53,-24.87,113.63,71.60,0.0,0.0,12.75
2,2,san quintin,24,MX,few clouds,91,30.48,-115.95,61.66,0.0,0.0,5.61
3,3,quelimane,19,MZ,few clouds,67,-17.88,36.89,74.61,0.0,0.0,8.75
8,8,aksu,47,CN,scattered clouds,15,41.12,80.26,87.39,0.0,0.0,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...
562,562,namatanai,92,PG,overcast clouds,74,-3.67,152.43,82.60,0.0,0.0,11.21
563,563,eyl,0,SO,clear sky,44,7.98,49.82,91.81,0.0,0.0,28.25
565,565,dawlatabad,0,AF,clear sky,8,36.41,64.91,100.98,0.0,0.0,7.45
566,566,kautokeino,94,NO,overcast clouds,53,69.01,23.04,67.06,0.0,0.0,17.58
567,567,puerto escondido,58,MX,broken clouds,72,15.85,-97.07,79.81,0.0,0.0,5.17

In [19]:
filtered_cities_df.count()

City_ID                367
City                   367
Cloudiness             367
Country                367
Current Description    367
Humidity               367
Lat                    367
Lng                    367
Max Temp               367
Rain (inches)          367
Snow (inches)          367
Wind Speed             367
dtype: int64

In [20]:
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp    Lat     Lng Hotel Name
0    hithadhoo      MV     84.42  -0.60   73.08
1    carnarvon      AU     71.60 -24.87  113.63
2  san quintin      MX     61.66  30.48 -115.95
3    quelimane      MZ     74.61 -17.88   36.89
8         aksu      CN     87.39  41.12   80.26

In [21]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

  # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found... skipping...")

Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...

In [24]:
hotel_df.head()

          City Country  Max Temp    Lat     Lng             Hotel Name
0    hithadhoo      MV     84.42  -0.60   73.08      Scoop Guest House
1    carnarvon      AU     71.60 -24.87  113.63  Hospitality Carnarvon
2  san quintin      MX     61.66  30.48 -115.95         Old Mill Hotel
3    quelimane      MZ     74.61 -17.88   36.89         Hotel Flamingo
8         aksu      CN     87.39  41.12   80.26   Pudong Holiday Hotel

In [25]:
output_data_file = "./data/WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
vacation_df = pd.read_csv("./data/WeatherPy_Vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,hithadhoo,MV,84.42,-0.60,73.08,Scoop Guest House
1,1,carnarvon,AU,71.60,-24.87,113.63,Hospitality Carnarvon
2,2,san quintin,MX,61.66,30.48,-115.95,Old Mill Hotel
3,3,quelimane,MZ,74.61,-17.88,36.89,Hotel Flamingo
4,8,aksu,CN,87.39,41.12,80.26,Pudong Holiday Hotel
...,...,...,...,...,...,...,...
362,562,namatanai,PG,82.60,-3.67,152.43,Namatanai Hotel
363,563,eyl,SO,91.81,7.98,49.82,Amiin Hotel
364,565,dawlatabad,AF,100.98,36.41,64.91,WASIM ASGAR KHAN
365,566,kautokeino,NO,67.06,69.01,23.04,Ailo Matki & Tourist -Kautokeino bilutleie
366,567,puerto escondido,MX,79.81,15.85,-97.07,Aldea del Bazar Hotel and Spa

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat","Lng"]]

In [28]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))